.menu {
  width: 300px;
}
.menu__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  width: 6.25rem;
  margin-right: 24px;
  color: #294f32;
}
.menu__item--red {
  color: red;
}
.menu__item--green {
  color: green;
}
.menu__item:nth-child(3n) {
  margin-right: 0;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:before {
  content: "124";
  width: 40px;
  height: 40px;
  border: 1px solid red;
}